body {
    background-color: green;
}

* {
    font-weight: bold;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: #ccffff;
    margin: 1%;
    height: 90px;
    max-height: 5%;
    overflow: hidden;
    text-align: center;
}

.menu {
    background-color: #ccffff;
    margin: 1%;
    height: 90px;
    max-height: 5%;
    overflow: hidden;
    text-align: center;
}

.basemant {
    background-color: #ccffff;
    margin: 1%;
    height: 90px;
    max-height: 5%;
    overflow: auto;
    text-align: center;
}

.main-info {
    margin: 1%;
    width: 1%;
    height: 625px;
    overflow: hidden;
    text-align: center;
}

@media screen and (min-width: 1280px)  {
    div p {
        font-size: 40px;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .left-info {
        background-color: #ccffff;
        position: absolute;
        width: 31.66667%;
        height: 625px;
    }

    .left-block {
        background-color: #ccffff;
        position: absolute;
        left: 34.125%;
        width: 31.66667%;
        height: 145.5px;
    }

    .right-block {
        background-color: #ccffff;
        position: absolute;
        left: 66.66667%;
        width: 31.66667%;
        height: 145.5px;
    }
}

@media screen and (min-width: 1279px)  {
    div p {
        font-size: 28px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .left-info {
        background-color: #ccffff;
        position: absolute;
        width: 31.66667%;
        height: 625px;
    }

    .left-block {
        background-color: #ccffff;
        position: absolute;
        left: 34.125%;
        width: 31.66667%;
        height: 145.5px;
    }

    .right-block {
        background-color: #ccffff;
        position: absolute;
        left: 66.66667%;
        width: 31.66667%;
        height: 145.5px;
    }
}

.str {
    margin-top: 159px;
}

.str1 {
    margin-top: 318px;
}

.str2 {
    margin-top: 479px;
}

