@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');

* {
    font-family: 'Bad Script';
    user-select: none;
}
body{
    background-image: url(kittens.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#info {
    text-align: center;
    text-decoration-color: #45536d;
    margin-left: 30%;
    width: 40%;
    margin-top: 0.2%;
    font-size: 21px;
    background-color: transparent;
    padding-top: .1%;
    line-height: 100%;
}
.breeds {
    width: 40%;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #deafa7,#c1ffc1, #deafa7 ) ;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
   
}
.breeds a {
    font-size: 200% ;
    font-weight: 400px;
    padding: 3%;

}
