@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');

* {
    font-family: 'Bad Script';
    user-select: none;
}
body{
    background-image: url(https://lh3.googleusercontent.com/ShdBaU5PnLmEY4GHYbu3dclQycRAs97VSly-JpiXKP-VimAHEpA0kbjbDhMlpkn4dhl_NPTdWfDZ0rWUNIazJfFpDctLkd22ZLnM1RocciC0RpMcC73hodDBY8aJtc2J-vHZHia9M6371N3Y4fFqBz78iyG6YcqT87yhv6wBtgucA2jUapHKojP61X2eUvYbbM4TB0-vP7Mkv5EBE9PPIye85Ad0EJ_71yPtwhDKoxxHPq5x2T2JOQh4pjAPn1LDShzmxAp1qHr6rU2HJUa_QKbXPssCDXboo_PHW-jG4OxPmFMrNWwfHEzF0MGNHGW-zvbWd4sbXGVPh3cokhGVMesgt1hOzeNc5d3VWnNiX3Bfj2MjGT_k5Ru14csgYvnlIu734_ZfWEvhrBLduiw8GDfAVU5PvzeaLm3XXz-YSsKRTpYkJ-kozgRRRMERT1wQV-eMUK64AzgTvU9bX598yXvvIVW_tekJvLLcy8OK92O4RJwGFjzwVhqs9IoPeVsDqMCs1PufHvezAFwqyTrGxjb_iG2g9PbbIEn6oEgvg5vGCa1FSY6nhMBySNS51Vkyou19NRJkbISDjK4AOBIBA9Yx4sp-z6j0FDNKCP_Ed-_iIeXYD8Yad2vPHnc5gx2a_Ce4wF5-7P3bcLMSCQq5n4rZi1biThz5_JdCqiWgou1KFw76IadSPktjeXRRVAJCBm3s-GLx4zkkFkqo9muau1SMIR0Gm_MDXmqCOIoUnSJGzo2xY36VP6O3U4v636k=w1097-h707-no?authuser=0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#info {
    text-align: center;
    text-decoration-color: #45536d;
    margin-left: 30%;
    width: 40%;
    margin-top: 0.2%;
    font-size: 21px;
    background-color: transparent;
    padding-top: .1%;
    line-height: 100%;
}
.breeds {
    width: 40%;
    margin-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #deafa7,#c1ffc1, #deafa7 ) ;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
   
}
.breeds a {
    font-size: 200% ;
    font-weight: 400px;
    padding: 3%;

}
