body, html {
    min-width: 300px;
    background-attachment: fixed;
    background-repeat: repeat;
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.box a {
    font-family: 'Alegreya Sans SC','Arial', sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	margin-right: 15px;
	transition : .4s linear
}
.box a:hover {
    background-color: silver;
	border-radius: 10px;
	transition : .4s linear;
}
@media (max-width: 635px) {
    .box {
        display: block;
        text-align: center;
    }
}